.main-side-logo {
  background: rgba(255,255,255,.2);
  padding: 8px;
  text-align: center;
  height: 100px;
  line-height: 84px;
  img, h1 {
    display: inline-block;
    vertical-align: middle;
  }
  img {
    width: 50px;
  }
  h1 {
    color: white;
    margin: 0 0 0 6px;
  }
  .hidden {
    display: none;
  }
}
