.main-side-logo {
  background: rgba(255, 255, 255, 0.2);
  padding: 8px;
  text-align: center;
  height: 100px;
  line-height: 84px;
  overflow: hidden;
}
.main-side-logo img,
.main-side-logo h1 {
  display: inline-block;
  vertical-align: middle;
}
.main-side-logo img {
  width: 50px;
}
.main-side-logo h1 {
  color: white;
  margin: 0 0 0 6px;
  transition: all 0.4s 0.2s ease-in-out;
}
.main-side-logo .hidden {
  opacity: 0;
}
.main-side-logo .text-hidden {
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
